<div class="widget-box" style="z-index:99999;position:fixed;width:300px;border:solid 1px #222;display:none" id="divProcessingPopup">
	<div class="panel-heading" style="background-color:#222;color:#FFF">Please Wait</div>
	<div class="panel-body" style="background-color:#FFF">
        <div>
            Process In Progress . . .
        </div>
        <div style="padding-top:20px"><img src="~/Content/img/ajax-loader.gif" border="0" alt="" /></div>
	</div>
</div>
